<div class="container">
    <h1>Remote jobs for developers</h1>
    <button type="button" class="btn mt-3">Active</button>
    <div class="card mt-5">
        <div class="card-body">
          <h3>Full Stack JavaScript Developer</h3>
          <p><span class="fi fi-nl flag"></span> Amsterdam, Netherlands <span class="days">6 days ago</span></p>
          <div class="time d-flex justify-content-between">
            <p>ASAP . GMT +02:00 </p>
            <button type="button" class="btn view">View</button>
          </div>
         
        </div>
      </div>
</div>