* {
  padding: 0;
  margin: 0;
}
.content {
  display: flex;
  gap: 60px;
  background-color: #efeff7;
  height: 100vh;
}
.img {
  flex: 1;
  background-image: url("/assets/images/register.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.form {
  flex: 1;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 10px;
}
a {
  color: #5e26ff;
  text-decoration: none;
}
span a {
  color: #5e26ff;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 3px;
}
input {
  width: 350px;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #e3e3ea;
}
.btn {
  width: 100%;
  background-color: #5e26ff;
  color: #fff;
  padding: 7px;
}
.btn:hover {
  background-color: #5e26ff;
  color: #fff;
}
.google{
  width: 65%;
  background-color: #DA5E5B;
}
i{
  width: 20px;
  color: #fff;
}